/* ------------------
 styling for the tables 
   ------------------   */


body
{
	line-height: 1.6em;
}

table{
	border-radius: 10px;
	background: #b9c9fe;
	color:#000000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 18px;
	margin: 10px;
	width: 250px;
	margin-left:325px;
	text-align: center;
	border-collapse: collapse;
	width:620px;
}
.letter{
		border-left: 1px solid #b9c9fe;
	
}
.image{
		border-right: 1px solid #b9c9fe;
	
}
